# COVIS_Project 3D data modeling & vizualization

 Step one: Edit your data

 Step two: Use Pandas to read the edited file into Pandas DataFrame

 Step three: Use Pandas to make a scatter plott that plost the positions on an xy plane and add color using elevations

 Step four: Plot the same dtaa using 3D vizualization. Use Matplotlib after taking the data into lists.

In [17]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as pt
%matplotlib inline
from mpl_toolkits import mplot3d

In [13]:
#data = pd.read_csv('actualbathy.csv')
#print(data)

In [11]:
#data=pd.read_csv('covis_location_bar.csv')
#print(data)

In [24]:
data=pd.read_csv('myXYZ_20121022T120038_ver2_050818.csv')
print(data.head(10))

       x     y     z
0  -0.25 -1.00  5.00
1  -7.25  2.50  5.25
2  -9.00  3.75  5.50
3 -10.00  3.75  5.75
4 -10.00  4.00  6.00
5  -7.25 -2.25  6.25
6  -7.75 -2.75  6.50
7  -7.50 -2.75  6.75
8  -7.50 -2.50  7.00
9 -15.75  4.00  7.25

data=pd.read_csv('myXYZ_20121022T120038_ver2_050818.csv')
data=data.head(50)
pt.plot(data["XYZ"], data["myXYZ_20121022T120038_ver2_050818"], color="red", label="line graph")
pt.scatter(data["XYZ"], data["myXYZ_20121022T120038_ver2_050818"], color="red", label="Scatter")
pt.legend()
pr.show()

In [30]:
df_locationbar= pd.read_csv('locationbar.csv')
df_locationbar

   East  North  Elevation
0     0      0          0
1     0      0          4

In [34]:
#df_locationbar.plot.barh(x='East',y='North',c='Elevation', colormap='inferno');

In [42]:
df_myXYZ= pd.read_csv('myXYZ.csv')
df_myXYZ.head(10)

       x     y     z
0  -0.25 -1.00  5.00
1  -7.25  2.50  5.25
2  -9.00  3.75  5.50
3 -10.00  3.75  5.75
4 -10.00  4.00  6.00
5  -7.25 -2.25  6.25
6  -7.75 -2.75  6.50
7  -7.50 -2.75  6.75
8  -7.50 -2.50  7.00
9 -15.75  4.00  7.25