# PYTHON BASICS
#### Objectives are to understand the different components of how to work with python, some of this includes the basic command lines suchas as, adding, subtracting, dividing, pushing files adding files, compying files and also understanding how to create a code that can represent a set of scientific data used in research.

When learning about python it is important to understand basic aspects of it such as: -variables

## Variables

Variables are objects and every object has a type (class). To find out the type of variable I have I need to print them as such:

In [1]:
a= 1
b= "hello"

In [2]:
print (a)

print (b)
print (a,b)

1
hello
1 hello

In [3]:
a= 3
b= "houses"

In [4]:
print (a)

print (b)
print (a,b)

3
houses
3 houses

In [5]:
a= 100
b= "Million years"

In [6]:
print (a,b)

100 Million years

# Methods

A method in python is implicitly passed to an object, it can operate on the variables in the corresponding class; for instance...

In [ ]:
b. capitalize

In [ ]:
b. capitalize ()

In [ ]:
c = 'Pasta'
print (b + c)
print (a + 2)
print (a + b)

To remeber: str are strings of letters, int are number that don't have a decimal point.

### NOTE: Ask why this is giving an error!!

# MATH: This are basic math operations

In [ ]:
print ("\033[0;37;40m Normal text\n")

In [ ]:
print ("\033[1;34;40m Addition")   
1 + 1 -5

In [ ]:
print ("\033[1;34;40m Multiplication")
6 * 10

In [ ]:
print ("\033[1;34;40m Division")
1/2

In [ ]:
type (1/2)

In [ ]:
print ("\033[1;35;40m Bright Magenta")

In [ ]:
print ("\033[1;35;40m Exponentation")
2**4

In [ ]:
print ("\033[1;35;40m Rounding")
round (9/10)

In [ ]:
print ("\033[1;35;40m Complex Number Support")
(1+2j) / (3-4j)

In [ ]:
print ("\033[1;35;40m Logic")
True and True

In [ ]:
True and False

In [ ]:
True or True

In [ ]:
(not True) or (not False)

In [ ]:
print ('Multypling: ', 5*5 , ' Dividing: ', 25/5)

# Conditionals

#### Intoduction to syntax.
#### A sytanx are set of rules that difines how the program will be written and interpreted.

In [ ]:
if 5 > 2: 
    print ("Five is greater than 2")

In [ ]:
if 5 < 2:
    print ("Five is greater than 2")

In [ ]:
x = 100
if x >0:
    print (4) 
elif x < 0:
    print (.01) 
else: 
    print (0)

What I did here is basically tell the program that if "x" is greater than "0" than it can print the number i desire but if x is less than "0" than it will print a number less than "0" and if it is 0 it will print 0.

In [ ]:
if x > 0: 
    print (85) 
    if x >= 100:
        print (600)

# More flow control

A loop is used to repeat a sequence.

In [ ]:
count =0
while count <10:
    count += 4
print (count)

In [ ]:
count =0
while count <18:
    count+=7
print (count)

In [ ]:
for x in "bannana":
    print (x)

In [ ]:
sports = ["tennis", "soccer", "swim"]
for x in sports: 
    print (x)

In [ ]:
for i in range(10): 
    print (i)

In [ ]:
type (range)

In [ ]:
range?

In [ ]:
loop?

In [1]:
for color in ['orange', 'purple', 'green']:
    print (color, len (color))

orange 6
purple 6
green 5

In [2]:
# The brakets are what define the listings that we want to 
# make for isntance the letters in the words we chose
# like the letter orange has 6 letter in it

In [3]:
list?

Init signature: list(iterable=(), /)
Docstring:
Built-in mutable sequence.

If no argument is given, the constructor creates a new empty list.
The argument must be an iterable if specified.
Type:           type
Subclasses:     _HashedSeq, StackSummary, SList, _ImmutableLineList, FormattedText, NodeList, _ExplodedList, Stack, _Accumulator, _ymd, ...

In [4]:
l = ['orange', 'purple', 'green']
type (l)

list

In [ ]:
l.sort() 
l

#### Converting list into a range

In [6]:
r = list(range(10)) 
r

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
while r:
    p = r.pop() 
    print ('p:', p)
    print ('r:', r)

p: 9
r: [0, 1, 2, 3, 4, 5, 6, 7, 8]
p: 8
r: [0, 1, 2, 3, 4, 5, 6, 7]
p: 7
r: [0, 1, 2, 3, 4, 5, 6]
p: 6
r: [0, 1, 2, 3, 4, 5]
p: 5
r: [0, 1, 2, 3, 4]
p: 4
r: [0, 1, 2, 3]
p: 3
r: [0, 1, 2]
p: 2
r: [0, 1]
p: 1
r: [0]
p: 0
r: []

# Important :

#### list.append(x) add an item to the END of the list is quivalent to:
a[len(a):] = [x].

#### list.extend(L) EXTEND the list by appending all the items in the given list like so:
a[len(a):] = L

#### list.insert(i,x) INSERT an item to a given position. Front = a.insert(0,x) and to add it as an extension to end of the list is again the same thing as a.append(x).

#### list.remove(x) REMOVES the FIRST item of the list whose value is x. It is an erros if there is no such item.

#### list.pop([i]) REMOVES the item at a given position in the lsirt and returns it. If the INDEX is not specified a.pop() removes and returns the last item in the list.
( [] CALLED SQUARE BRAKETS)

#### list.clear() removes ALL the items from the list. Equivalent to : a[:]

#### list.index(x) returns the index in the lisr of the first item whose calue is X. 

#### list.count(x) returns the NUMBER of items x appears in the list.

#### list.sort() sorts the items of the list in place

#### list.reverse() reverse the elements of the list in place

#### list.copy() returns the a shallow copy of the lsit a[:]

In [8]:
x = list(range(6)) 
y = list(range(7,9)) 
z = x + y
z

[0, 1, 2, 3, 4, 5, 7, 8]

In [9]:
print ('first', z[0]) 
print ('last', z[-1]) 
print ('first 3', z[:3] ) 
print ('last 3', z[-3])
print ('middle, skipping every other item', z[5:10:12] )

first 0
last 8
first 3 [0, 1, 2]
last 3 5
middle, skipping every other item [5]

SET notations: left INCLUSIVE right EXCLUSIVE

In [ ]:
N = len(z)
z[N]

In [ ]:
name = 'Monica'
print (name[:6])

In [ ]:
5 in z

In [ ]:
z[4] = 'pepe'
z

In [ ]:
squares = [n**2 for n in range(5)]
squares

In [ ]:
for item1, item2, in zip(x,y):
    print ('first', item1, 'second', item2)

# Tuples :

They are also like lists but they cannot be modified like adding, inserting or anything else. They are used to pacl together inhomogeneous data.

In [ ]:
a = ('orange', 33, True) 
b = ('green', 25, False)
type (b)

In [ ]:
print (a[1])

In [ ]:
name, age, status = a

In [ ]:
name, color, status = a

# Dictionaries :

This are useful for data structure and maping keys to values.

In [ ]:
d = {'name': 'Monica', 'age': 24}
e = dict(name='Monica', age=30)
e

In [ ]:
d['name']

In [ ]:
print ('age' in d) 
print ('height' in e)

In [ ]:
d['height']

In [ ]:
d['heihgt'] = (5,11) 
d

In [ ]:
d[99] = 'ninety nine'
d

In [ ]:
for k in d:
    print(k, d[k])

In [ ]:
for key, val in d.items():
    print(key, val)

# Numpy and Matplotlib

In [ ]:
import numpy as np

In [ ]:
dir()

In [ ]:
dir(np)

In [ ]:
np._version_

In [ ]:
np.__version__

# NDArrays

In [ ]:
from IPython.display import Image
Image(url='http://docs.scipy.org/doc/numpy/_images/threefundamental.png')

In [ ]:
a = np.array([9,2,1,0])

# Question # 9:

In [ ]:
2**3

In [ ]:
2**0.5

In [ ]:
2+10*10+3

In [ ]:
(2+10)*(10+3)

# Questions 10-19: STRINGS

In [ ]:
print ('Hello World 1')

In [ ]:
print ('Hello World 2')

In [ ]:
print ('\n')

In [ ]:
len('Hello World')

In [ ]:
s = 'Hello World'
s

In [ ]:
s = 'Hello World'
s[:-1]

In [ ]:
s + 'concatenate me!'

In [ ]:
s = 'Hello world concatenate me!'
s

In [ ]:
s

In [ ]:
s.upper()

In [ ]:
s.lower()

In [ ]:
s.split()

In [ ]:
s.split('W')

In [ ]:
s.split('w')

In [ ]:
my_list [1,2,3]

In [ ]:
my_list(1,2,3)

In [ ]:
len('my_list')

In [ ]:
len("my_list")

In [ ]:
my_list = ['one', 'two', 'three', 4,5]

In [ ]:
my_list[0]

In [ ]:
my_list[1:]

In [ ]:
my_list + 'new item'

In [ ]:
'my_list' + 'new item'

# Question 22:

In [ ]:
3<=2

# Questions 23:

In [ ]:
3==2.0

# Qestion 24:

In [ ]:
3.0==3

# Question 25:

In [ ]:
4**0.5 != 2

# Qestion 26:

In [ ]:
x=0
while x < 10:
    print('x is currently:',x)
    
    print('x is still less than 10, adding 1 to x')
    
    x+=1

The cell above was QUESTION 27:

# Question 29:

In [ ]:
4*(6+5)

In [ ]:
4*6+5

In [ ]:
4+6*5